extends layout 
 
block links
  link(href='/publico/css/divindade.css' rel='stylesheet')
 
 
block principal
  br
  br
  div.row
    img.img.col-4(src='/publico/imgs/afrodite.png')
    
    div.col-6.div
      br
      h2 Afrodite 
      p.texto  Afrodite foi uma das deusas mais adoradas pelos gregos, sendo uma dos 12 Olimpianos. A deusa era conhecida pelos romanos como Vênus, e geralmente era representada nua em pinturas e estátuas, afinal, era conhecida por representar o amor, a beleza, a sexualidade, assim como o sexo em si.
      br
      p.texto A origem da deusa possui algumas divergências, sendo das versões as mais contadas: na primeira e mais conhecida versão, contada pelo autor Hesíodo, Cronos, senhor do Tempo, cortou os membros genitais de seu próprio pai, Urano, e os lançou ao mar, então dessa junção da carne de Urano com a espuma dos mares, teria surgido a deusa, uma lindíssima mulher já adulta, com cabelos dourados como o sol, olhos azuis como o céu e pele branca como a espuma. A segunda versão, contada pelo escritor Homero, é menos difundida e, nela, Afrodite teria surgido como fruto de uma relação entre Zeus, Senhor do Olimpo, e Dione, deusa das Ninfas.
      br
    div.col-10.divMaior
      p.texto Afrodite tem sua história entrelaçada com a de dois deuses Olimpianos, Hefesto, com quem foi forçada a casar-se, e Ares, seu verdadeiro amor. Hefesto, cuja aparência não era das mais agradáveis, foi jogado do Monte Olimpo por Hera, esposa de Zeus, e, após ser criado entre humanos como mestre ferreiro, jurou se vingar. Frequentemente o deus das forjas mandava presentes para os Olimpianos, incluindo um trono e ouro para a deusa alvo de sua raiva. Quando a deusa sentou-se ao trono, ficou presa a ele. 
      br
      p.texto Na tentativa de livrar sua esposa, Zeus ofereceu um acordo: quem conseguisse trazer Hefesto ao Olimpo teria direito a mão de Afrodite, que era extremamente cobiçada devido sua beleza. Afrodite aceitou pois acreditava que Ares, seu amor, seria capaz de tal feito e então eles poderiam ficar juntos; porém não ocorreu como o planejado, pois Ares tentou trazê-lo à força porém não conseguiu. Enquanto isso, Dionísio, deus do Vinho sugeriu a Hefesto que fosse ao Olimpo, libertasse Hera, e assim reivindicar a mão da bela deusa do amor, o que o deus ferreiro fez.
      br 
      p.texto Devido a tristeza de casar-se com quem não amava, e também por achar Hefesto feio, Afrodite passou a trair o deus com Ares, até que seu marido descobriu as traições e armou um plano para humilhá-los, os prendendo nús, no ato, com uma rede inquebrável, e os levou para o meio do Olimpo, para que as pessoas soubessem da traição, porém ao ver os amantes nús, os outros deuses apenas riram, para a tristeza de Hefesto que soube que não havia o que fazer.
      br
      p.texto.final Do amor de Afrodite e Ares, nasceram quatro filhos: Eros, o cupido alado que sempre a acompanhava, sendo também uma divindade do amor, os gêmeos Deimos e Phobos, que acompanhavam o pai em campo de batalha desestabilizando o emocional dos inimigos, pois eram representações do Terror e do Medo; e também uma filha chamada Harmonia, que era representação tanto da harmonia entre os casais, fins de brigas e nos campos de guerras, amenizava os conflitos pelo bem da harmonia entre os povos, sendo a própria harmonia cósmica.
    
      
 
   
