extends layout 

block links
    link(href='/publico/css/conteudos.css' rel='stylesheet')

block principal 
    img.img_capa(src="/publico/imgs/conteudos.png")
    br
    br
    h1.titulo Conteúdos disponíveis 
    br
    div.cards
        .row
            .col-sm-6
                .card.cartao1
                    .card-body
                        h5.card-title As religiões em diferentes culturas 
                        br
                        p.card-text.txtCartao Religiões presentes no escopo deste estudo, com enfoque nas religiões de matrizes africanas dentro do contexto brasileiro, avaliando as relações e sincretismos presentes nessas interações.
                        a.btn.btn-primary.botao(href="/tema1") Visualizar
            .col-sm-6
                .card.cartao2
                    .card-body
                        h5.card-title Cultura, história e religiões de matrizes africanas
                        br
                        p.card-text.txtCartao Relação das religiões com itens culturais (comidas, danças, costumes), simbologias e afirmação da identidade por meio de práticas religiosas.
                        a.btn.btn-primary.botao(href="/tema2") Visualizar
        br
        .row
            .col-sm-6
                .card.cartao1
                    .card-body
                        h5.card-title O racismo e as religiões de matrizes africanas 
                        br
                        p.card-text.txtCartao  Contribuições do neopentecostalismo para o racismo religioso, casos de racismo nas religiões de matrizes africanas.
                        a.btn.btn-primary.botao(href="/tema3") Visualizar
            .col-sm-6
                .card.cartao2
                    .card-body
                        h5.card-title Ambiente escolar e ensino religioso
                        br 
                        p.card-text.txtCartao  História do ensino religioso, o ensino Cristão em detrimento de outras crenças e a intolerância religiosa no ambiente escolar.
                        a.btn.btn-primary.botao(href="/tema4") Visualizar
        br
        .row
            .col-sm-6
                .card.cartao1
                    .card-body
                        h5.card-title O estudo de religiões de matrizes africanas como efetivação da Lei 10.639
                        br
                        p.card-text.txtCartao  Outras formas de inserção do tema em ambiente escolar.
                        a.btn.btn-primary.botao(href="/tema5") Visualizar
            .col-sm-6
                .card.cartao2
                    .card-body
                        h5.card-title Comparações das figuras religiosas correspondentes
                        br
                        p.card-text.txtCartao  Comparações das figuras correspondentes em diferentes religiões, e descrição das divindades.
                        a.btn.btn-primary.botao(href="/divindades") Visualizar
    br
    br
    br
