extends layout 
 
block links
  link(href='/publico/css/contato.css' rel='stylesheet')
 
 
block principal
  img.img_capa(src="/publico/imgs/duvidas.png")
  br
  br
  h1.titulo Deixe sua pergunta!
  br
  form
    label(for="NomeCompleto") Nome Completo
    input.input#nome(type="text", required)
    label(for="email") Email
    input.input#email(type="email", required, placeholder="seuemail@dominio.com")
    br
    label(for="mensagem") Pergunta
    textarea#mensagem(cols="80", rows="10", required)  
    input.enviar(type="submit", value="Enviar formulário")
  br
  br
