extends layout 
 
block links
  link(href='/publico/css/divindades.css' rel='stylesheet')
 
 
block principal
  br
  br
  h1.titulo Comparações das figuras religiosas
  br
  h1.titulo Figuras relacionadas ao amor
  br
  div.grupo
    .card.mb-3.col-5
      .row.g-0
        .col-md-4
          img.img-fluid.rounded-start(src='/publico/imgs/oxum.png' alt='...')
        .col-md-8
          .card-body
            h5.card-title.tituloCard Oxum
            p.card-text.textoCard Oxum é a Orixá das águas doces, conhecida por ser a Deusa do amor, fertilidade e das riquezas. Também conhecida como Osúm, Osún ou Oxun, ela é a representação da sensibilidade, da delicadeza feminina e da paixão para motivar a essência da vida.
            a.btn.btn-primary.botao(href="/oxum") Ler
    .card.mb-3.col-5
      .row.g-0
        .col-md-4
          img.img-fluid.rounded-start(src='/publico/imgs/afrodite.png' alt='...')
        .col-md-8
          .card-body
            h5.card-title.tituloCard Afrodite
            p.card-text.textoCard Parte dos 12 Olimpianos, os deuses mais cultuados pelos gregos, Afrodite é a deusa do amor, da beleza, da sedução e da sexualidade, sendo conhecida pelos Romanos como a deusa Vênus.
            a.btn.btn-primary.botao(href="/afrodite") Ler
  br
  br
  h1.titulo Figuras relacionadas a água
  br
  div.grupo
    .card.mb-3.col-5
      .row.g-0
        .col-md-4
          img.img-fluid.rounded-start(src='/publico/imgs/iemanja.png' alt='...')
        .col-md-8
          .card-body
            h5.card-title.tituloCard Iemanjá
            p.card-text.textoCard Iemanjá é uma Orixá do povo Egbá, conhecida por ser a Rainha do Mar e mãe de todos os Orixás, tendo seu nome com significado de mãe dos filhos-peixe.
            a.btn.btn-primary.botao(href="/iemanja") Ler
    .card.mb-3.col-5
      .row.g-0
        .col-md-4
          img.img-fluid.rounded-start(src='/publico/imgs/iara.png' alt='...')
        .col-md-8
          .card-body
            h5.card-title.tituloCard Iara
            p.card-text.textoCard Muito conhecida na cultura originária brasileira, Iara tem longos cabelos pretos, metade do corpo de mulher e cauda de peixe, também chamada de Mãe d’Água.
            a.btn.btn-primary.botao(href="/iara") Ler
  
  div.grupo 
    .card.mb-3.col-5
      .row.g-0
        .col-md-4
          img.img-fluid.rounded-start(src='/publico/imgs/poseidon.png' alt='...')
        .col-md-8
          .card-body
            h5.card-title.tituloCard Poseidon
            p.card-text.textoCard Poseidon é o deus dos mares, dos oceanos, das tempestades, dos lagos e dos cavalos para os gregos. É um dos deuses mais importantes do Panteão, sendo parte dos 12 Olimpianos e um dos Três Grandes, juntamente com seus irmãos Zeus e Hades.
            a.btn.btn-primary.botao(href="/poseidon") Ler
  br
  br

  h1.titulo Figuras Mensageiras
  br
  div.grupo
    .card.mb-3.col-5
      .row.g-0
        .col-md-4
          img.img-fluid.rounded-start(src='/publico/imgs/exu.png' alt='...')
        .col-md-8
          .card-body
            h5.card-title.tituloCard Exu
            p.card-text.textoCard Exu é um Orixá do movimento, guardião da comunicação e da linguagem, que sofre grande preconceito devido a ignorância e comparações indevidas com o diabo cristão. Na verdade, o Orixá é um mensageiro, responsável pelo transporte das oferendas e pela comunicação com os Orixás, é um intermediário, sendo quem abre e fecha caminhos.
            a.btn.btn-primary.botao(href="/exu") Ler
    .card.mb-3.col-5
      .row.g-0
        .col-md-4
          img.img-fluid.rounded-start(src='/publico/imgs/hermes.png' alt='...')
        .col-md-8
          .card-body
            h5.card-title.tituloCard Hermes
            p.card-text.textoCard Mensageiro dos deuses gregos, Hermes é o patrono dos viajantes, ladrões, esportistas e comerciantes. Por poder mover-se extremamente rápido entre o mundo dos humanos, o Olimpo e o Submundo (Reino de Hades), o deus também era o guia dos mortos. 
            a.btn.btn-primary.botao(href="/hermes") Ler
  br
  
  h1.titulo Figuras relacionadas a sabedoria 
  br
  div.grupo
    .card.mb-3.col-5
      .row.g-0
        .col-md-4
          img.img-fluid.rounded-start(src='/publico/imgs/orunmila.png' alt='...')
        .col-md-8
          .card-body
            h5.card-title.tituloCard Orunmilá
            p.card-text.textoCard Orunmilá ou Orun Lá, vindo da religião Iorubá, é um dos Orixás que estiveram presentes na criação da Terra e da humanidade. Ele é o redentor do poder da intuição, da vidência e da leitura dos destinos, sendo quem guarda a sabedoria do Ifá (textos sagrados).
            a.btn.btn-primary.botao(href="/orunmila") Ler
    .card.mb-3.col-5
      .row.g-0
        .col-md-4
          img.img-fluid.rounded-start(src='/publico/imgs/atena.png' alt='...')
        .col-md-8
          .card-body
            h5.card-title.tituloCard Atena
            p.card-text.textoCard Atena, para os gregos, é conhecida como a deusa sabedoria, protetora das artes, das invenções, das estratégias em batalha, da arquitetura, da bravura e da eloquência. Era considerada equilibrada, sábia, diplomática e protetora de cidadelas.
            a.btn.btn-primary.botao(href="/atena") Ler
  br
  br

  h1.titulo Figuras relacionadas aos raios e trõvões
  div.grupo
    .card.mb-3.col-5
      .row.g-0
        .col-md-4
          img.img-fluid.rounded-start(src='/publico/imgs/iansa.png' alt='...')
        .col-md-8
          .card-body
            h5.card-title.tituloCard Iansã
            p.card-text.textoCard Iansã é a Orixá feminina guerreira, senhora das tempestades, chuvas, trovões e ventos, também sendo a senhora dos espíritos desencarnados. Ela não era frágil e nem uma cuidadora de casa, então partiu em busca de conhecer o mundo, onde seu destino cruzou com diversos parceiros.
            a.btn.btn-primary.botao(href="/iansa") Ler
    .card.mb-3.col-5
      .row.g-0
        .col-md-4
          img.img-fluid.rounded-start(src='/publico/imgs/tupa.png' alt='...')
        .col-md-8
          .card-body
            h5.card-title.tituloCard Tupã
            p.card-text.textoCard Tupã, o Espírito do Trovão, é o grande criador dos céus, da terra e dos mares, assim como do mundo animal e vegetal. Tendo sido criado por Nhanderuvuçu para auxiliá-lo, Tupã muitas vezes é considerado o deus primordial tupi guarani, pois o associam também aos feitos de seu criador.
            a.btn.btn-primary.botao(href="/tupa") Ler
  
  div.grupo 
    .card.mb-3.col-5
      .row.g-0
        .col-md-4
          img.img-fluid.rounded-start(src='/publico/imgs/zeus.png' alt='...')
        .col-md-8
          .card-body
            h5.card-title.tituloCard Zeus
            p.card-text.textoCard Zeus é o deus grego dos raios e trovões, assim como rei dos deuses e humanos, liderando os doze Olimpianos. O deus frequentemente causava fenômenos atmosféricos de acordo com seu humor, podendo mandar raios e trovões para destruir as cidades ou chuvas para ajudar nas plantações. 
            a.btn.btn-primary.botao(href="/zeus") Ler
  br
  br
  
  
  br
  br
  br
  br
      




