extends layout 
 
block links
  link(href='/publico/css/divindades.css' rel='stylesheet')
 
 
block principal
  img.img_capa(src="/publico/imgs/divindades.png")
  br
  br
  h1.titulo Comparações das figuras religiosas
  br
  br
  h1.titulo Figuras relacionadas ao amor
  br
  div.grupo
    .card.mb-3(style='max-width: 540px;')
      .row.g-0
        .col-md-4
          img.img-fluid.rounded-start(src='/publico/imgs/oxum.png' alt='...')
        .col-md-8
          .card-body
            h5.card-title.tituloCard Oxum
            p.card-text.textoCard Oxum é a Orixá das águas doces, conhecida por ser a Deusa do amor, fertilidade e das riquezas. Também conhecida como Osúm, Osún ou Oxun, ela é a representação da sensibilidade, da delicadeza feminina e da paixão para motivar a essência da vida.
            a.btn.btn-primary.botao(href="/oxum") Ler
    .card.mb-3(style='max-width: 540px;')
      .row.g-0
        .col-md-4
          img.img-fluid.rounded-start(src='/publico/imgs/afrodite.png' alt='...')
        .col-md-8
          .card-body
            h5.card-title.tituloCard Afrodite
            p.card-text.textoCard Parte dos 12 Olimpianos, os deuses mais cultuados pelos gregos, Afrodite é a deusa do amor, da beleza, da sedução e da sexualidade, sendo conhecida pelos Romanos como a deusa Vênus.
            a.btn.btn-primary.botao(href="/afrodite") Ler
  br
  
  
  
  
  
  br
  br
  br
  br
      




