extends layout 

block links
    link(href='/publico/css/inicio.css' rel='stylesheet')

block principal 
    img.img_capa(src="/publico/imgs/capa_C.png")
    br
    br
    h1.titulo Conteúdos disponíveis 
    br
    p.texto Oi 
        
