html 

  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width,initial-scale=1")
    link(rel="stylesheet" href="/bscss/bootstrap.css")
    script(src="/jquery/jquery.min.js") 
    script(src="/popperjs/popper.min.js") 
    script(src="/bsjs/bootstrap.min.js")

    link(rel="stylesheet" href="/publico/css/layout.css")
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kaisei+HarunoUmi:wght@500&display=swap" rel="stylesheet">
    block links

    title Ekaabo


  body.corpo
    header 
      nav.navbar.navbar-expand-lg.navbar-dark.menu(style="background-color: #804831;")
        .container-fluid.menu-container
          .col-md-8
              a
                img.icone(src='/publico/imgs/logo.png').icone
              a.navbar-brand(href="#") Ekaabo
                button.navbar-toggler(type="button", data-bs-toggle="collapse", data-bs-target="#navbarNav", aria-controls="navbarNav", aria-expanded="false", aria-label="Toggle navigation")
                    span.navbar-toggler-icon
          .collapse.navbar-collapse.col-6.col-md-4#navbarNav
            ul.navbar-nav
              li.nav-item.itens
                a.nav-link.active(aria-current="page " href="/inicio") Início
              li.nav-item.itens
                a.nav-link.active(href="/quemSomos") Quem Somos
              li.nav-item.itens
                a.nav-link.active(href="/conteudos") Conteúdos
              li.nav-item.itens
                a.nav-link.active(href="/contato") Contato  


    div.centro
      main 
        block principal

    footer.rodape
      div
        li.item
          img.imgRodape(src='/publico/imgs/logoNEABI.png', alt="...")
          a(href="#")
        li.item 
          img.imgRodape(src='/publico/imgs/logoNEABI.png', alt="...")
          a(href="#")
        li.item 
          img.imgRodape(src='/publico/imgs/logoNEABI.png', alt="...")
          a(href="#")
        li.item 
          img.imgRodape(src='/publico/imgs/logoNEABI.png', alt="...")
          a(href="#")
         



