
head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width,initial-scale=1")
    link(rel="stylesheet" href="/bscss/bootstrap.css")
    script(src="/jquery/jquery.min.js") 
    script(src="/popperjs/popper.min.js") 
    script(src="/bsjs/bootstrap.min.js")
    script(src="/publico/js/cookie.js")
    script(src="/publico/js/login.js")
    script(src="/publico/js/logout.js")


    link(rel="stylesheet" href="/publico/css/login.css")
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kaisei+HarunoUmi:wght@500&display=swap" rel="stylesheet">
    block links

    title Ekaabo


body.corpo
    div.centro
        main 
            br  
            h1.titulo Login
            br
            form
                label(for="email") Email
                input.input#email(type="text", name="email", required)
                br
                label(for="senha") Senha
                input.input#senha(type="password", name="senha", required)
                input.enviar#enviar(type="button", name="enviar", value="Enviar") 
               
                br
            



    

