extends layout 
 
block links
  link(href='/publico/css/quemSomos.css' rel='stylesheet')
 
 
block principal
  br
  h1.titulo Estudantes
  br
  .card.mb-3.cartao1(style="max-width: 1000px;")
    .row.g-0
      .col-md-4
        img.img-fluid.rounded-start(src='/publico/imgs/giulia.jpg', alt="...")
      .col-md-8
        .card-body
          h5.card-title Giulia de Sousa Sovernigo
          p.card-text.texto Com 18 anos, atualmente está no último semestre do ensino médio com curso integrado em informática no Instituto Federal de Educação, Ciência e Tecnologia de Mato Grosso do Sul, campus Campo Grande. Desde pequena tem interesse em estudar diversas culturas e religiões, então ao ouvir a proposta do projeto se interessou rapidamente, vendo que era uma oportunidade de estudar mais sobre esses temas. Em seu tempo livre gosta de escrever poesia, cantar, ouvir música, ler livros, quadrinhos e mangás, jogar RPG, ver filmes e séries de suspense, terror e animação e pesquisar sobre pinguins. Gosta de ler sobre o ativismo LGBT e tem interesse em fazer parte de um coletivo no futuro, devido seu gosto pelos estudos sociais. Possui também uma forte conexão com a arte e com a psicologia.

          p.card-text
            small.text-muted Currículo
  br
  .card.mb-3.cartao2(style="max-width: 1000px;")
    .row.g-0
      .col-md-8
        .card-body
          h5.card-title Luanne Delovo de Ferreira Santos
          p.card-text.texto Com 18 anos, atualmente está no último semestre do ensino médio com curso integrado em informática no Instituto Federal de Educação, Ciência e Tecnologia de Mato Grosso do Sul, campus Campo Grande. Se interessou pelo projeto proposto pelo professor Fábio Luiz Faria da Silva por ser umbandista e gostar de estudar as religiões de matrizes africanas. No seu tempo livre, gosta de ler livros de suspense e romance, assistir filmes antigos e séries distópicas. Além disso, gosta de tocar seu ukulele e tem uma grande conexão com a música.

            small.text-muted Currículo
      .col-md-4
        img.img-fluid.rounded-start(src='/publico/imgs/luanne.jpg', alt="...")

  br
  

  h1.titulo  Professores Orientadores
  br  
  .card.mb-3.cartao1(style="max-width: 1000px;")
    .row.g-0
      .col-md-4
        img.img-fluid.rounded-start(src='/publico/imgs/fabio.gif', alt="...")
      .col-md-8
        .card-body
          h5.card-title Fabio Luiz Faria da Silva 
          p.card-text.texto Fabio Luiz Faria da Silva, atualmente professor do Instituto Federal do Mato Grosso do Sul campus Campo Grande, para o curso de informática. Possui graduação em Engenharia da Computação - Faculdades Associadas de São Paulo (2006), especialização pela FACEL em Docência em Ciência e Tecnologia da Informação (2018) e especialização pela FIAR em Licenciatura Pedagógica em História.
          p.card-text
            small.text-muted Currículo
  
  br
  h1.titulo Núcleos de Estudo
  .container
    .row
      .col-sm-8
        h2
          | NEABI
        p.texto De natureza propositiva e consultiva, o Núcleo de Estudos Afro-Brasileiros e Indígenas (NEABI) tem a função de auxiliar no direcionamento de estudos, pesquisas e ações de extensão que promovam a reflexão sobre as questões étnico-raciais. Em cada campus, o Neabi é formado por um coordenador, um coordenador adjunto e um secretário, todos com mandato de dois anos.
      .card.col-sm-4(style='max-width: 18rem; max-height: 18rem;')
        img.card-img-top.img(src='/publico/imgs/logoNEABI.png' alt='...')
        .card-body

  br
  br
  br
  

