extends layout 

block links
  link(href='/publico/css/referencial.css' rel='stylesheet')

block principal
  br
  h1.titulo Referencial
  br
  p.texto &emsp;&emsp; Aqui você pode conferir todas as referências bibliográficas utilizadas na pesquisa e produção dos conteúdos dispostos no site. Bons Estudos!
  br
  br
 
  h2.subtitulo As divindades: 
  br
  p.texto BARBOSA, Ademir. O Livro essencial de Umbanda. São Paulo: Universo dos Livros, 2014.
  br
  p.texto BULFINCH, Thomas. O livro de ouro da mitologia: histórias de deuses e heróis. São Paulo: Ediouro, 1965.
  br
  p.texto FRANCHINI, A.S. SEGANFREDO, Carmen. As 100 Melhores Histórias da Mitologia: Deuses, Heróis, Monstros e Guerras da Tradição Greco-Romana. Porto Alegre: LPM', 2003.
  br
  p.texto GALDINO, Luiz. Mitologia Indígena. São Paulo: Nova Alexandria, 2016.
  br
  p.texto GALVÃO, Eduardo. Áreas culturais indígenas no Brasil. Belém: Boletim Museu Paraense Emilio Goeldi, 1960.
  br
  p.texto GUIMARÃES, Ruth. Dicionário da mitologia grega. 1. ed. São Paulo: Cultrix, 1999.
  br
  p.texto HAMILTON, Edith. Mitologia. 1. ed. São Paulo: Martins Fontes, 1999.
  br
  p.texto HOMERO. A Ilíada. 11. ed. Rio de Janeiro: Ediouro, 2001.
  br
  p.texto HOMERO. Odisséia. 12. ed. São Paulo: Cultrix, 2002.
  br
  p.texto MONTEIRO, Mario Ypiranga. Folclore amazônico. Manaus: Governo do Estado do Amazonas, 2001.
  br
  p.texto VERGER, Pierre Fatumbi Lendas Africanas dos Orixás. Salvador, 1997
  br
  p.texto WILKINSON, Philip. O livro ilustrado da mitologia: lendas e histórias fabulosas sobre grandes heróis e deuses do mundo inteiro. 2. ed. São Paulo: Publifolha, 2001.
  br
  br 
  br

  h2.subtitulo As religiões em diferentes culturas:
  br
  p.texto CAMPOS, Isabel. RUBERT, Rosane. Religiões de Matriz Africana e a Intolerância Religiosa. Pelotas: Cadernos do Leopardaq, 2014.
  br
  p.texto FERREIRA, Aurélio Buarque de Holanda. Dicionário Aurélio da Língua Portuguesa. 2. ed. revista e ampliada. Rio de Janeiro: Nova Fronteira, 1988.
  br
  p.texto GEERTZ,Clifford. Religião como Sistema Cultural. Rio de Janeiro: Ed. Livros Técnicos e Científicos S.A., 1973.
  br
  p.texto HALL, S. A identidade cultural na pós-modernidade. 11. ed.: Blackwell Publisher, 1992.
  br
  p.texto VALENTE, Waldemar. Sincretismo religioso afro-brasileiro. Brasiliana, 1955.
  br
  p.texto SANCHES, Pierre. Percursos de sincretismo no Brasil. Rio de Janeiro: Ed. Uerj, 2001.
  br
  br 
  br




  h2.subtitulo Cultura, história e religiões de matrizes africanas:
  br
  p.texto BORGES, Florismar. Acarajé: tradição e modernidade. Bahia: Biblioteca do CEAO – UFBA, 2008.
  br
  p.texto TAVARES, Julio. Apresentação ao Dossiê "De volta ao mundo da vida de pernas pro ar: Contribuições para os estudos em corporeidade, linguagem e memória da Capoeira". Rio de Janeiro: Antropolítica UFF, 2009.

  br
  p.texto SALES, Aurelice. A importância das religiões de matriz africana, para preservação do meio - ambiente urbano. Mata de São João: Revista Eletrônica Científica Inovação e Tecnologia, 2010.

  br
  br 
  br



  h2.subtitulo O racismo e as religiões de matrizes africanas:
  br
  p.texto CLEMÊNCIA, Maria Aparecida. PL 21/2015 RS: História, Cidadania e Exclusão das Religiões de Matriz Africana em Porto Alegre. Florianópolis, 2015.
  br
  p.texto KLIPPEL, Nathalia. Intolerância Religiosa: A coexistência da Umbanda e do Neopentecostalismo. Rio de Janeiro, 2018. 
  br
  p.texto SANTOS, Tamila. A relação do povo de santo com o estado, em SALVADOR/BA: uma análise a partir das ações da secretaria de promoção da igualdade racial. Salvador, 2015.
  br 
  p.texto SILVA, Gabriela Maria. RACISMO RELIGIOSO E SISTEMA PENAL: A sobrevivência das religiões de matriz africana no Brasil. Pernambuco, 2017.
  br
  br
  br
  
  h2.subtitulo Ambiente escolar e ensino religioso:
  br
  p.texto ALMEIDA, Silvio. O que é Racismo estrutural?.São Paulo, 2018
  br
  p.texto CAMPOS, Isabel. RUBERT, Rosane. Religiões de Matriz Africana e a Intolerância Religiosa. Pelotas: Cadernos do Leopardaq. 2014.
  br
  p.texto CANDAU, Vera Maria et al. Somos todos/as iguais? Escola, discriminação e educação em direitos humanos. Rio de Janeiro: DP&A, 2003
  br
  p.texto MÜLLER, Tânia Mara Pedroso et al. RELAÇÕES ÉTNICO-RACIAIS E DIVERSIDADE. Niterói, 2013.
  br
  br 
  br



  
  h2.subtitulo O estudo de religiões de matrizes africanas como efetivação da Lei 10.639:
  br
  p.texto BUNDCHEN, Célia. Significados de Religião em Diferentes Contextos Educativos. Canoas:Universidade Luterana do Brasil. 2005
  br
  p.texto MÜLLER, Tânia Mara Pedroso et al. RELAÇÕES ÉTNICO-RACIAIS E DIVERSIDADE. Niterói, 2013.
  br
  br 
  br
  p.texto.final 
  br
  br
  

