extends layout 
 
block links
  link(href='/publico/css/temas.css' rel='stylesheet')
 
 
block principal
  br
  h1.titulo As Religiões em Diversas Culturas
  br
  h2.subtitulo Conceituando religião, culto, seitas, fé, crença e espiritualidade
  br
  p.texto &emsp;&emsp;&emsp;   Crença é o processo mental, o ato, de acreditar em algo ou alguém; derivado disso, temos a religião, que é a crença em um poder ou princípio superior, até mesmo sobrenatural, do qual o destino humano é dependente e ao qual deve-se respeitar e obedecê-lo, muitas vezes inquestionavelmente, confiar cegamente, acreditar sem a necessidade de uma comprovação física, e este é o significado de ter fé. Quando se tem uma relação extremamente íntima para com as práticas religiosas ou místicas, sente-se conectado fortemente com as mesmas, uma fé inabalável, isso é ter espiritualidade.  
  p.texto &emsp;&emsp;&emsp;   Normalmente, quando se possui uma crença em determinada religião, realizam-se encontros para homenagear e adorar por meio de um conjunto de atitudes e ritos, a divindade por quem você professa sua fé chamado culto; em contraste ao culto, temos a seita, que é formada por um grupo numeroso que destaca-se da doutrina principal, por vezes sendo utilizado no sentido pejorativo, devido a grupos extremistas que, segundo alguns líderes religiosos, distorcem tais religiões.
  br
  h2.subtitulo Religiões do escopo deste estudo
  br
  p.texto &emsp;&emsp;&emsp;  Neste trabalho estão sendo utilizadas como base para estudo quatro matrizes religiosas: africana e indígena, que costumeiramente são preteridas, e católica e grega, frequentemente enaltecidas, para que assim seja possível estabelecer uma correlação entre as divindades, explorando suas características provenientes de seu contexto cultural de surgimento e a forma com que as mesmas se relacionam apesar das diferenças. 
  p.texto &emsp;&emsp;&emsp; As divindades estão divididas por temas que as associam, como por exemplo, as que controlam raios e trovões, as que possuem ligação com a água, patronos da medicina, retentores da sabedoria, entre outras ligações; assim possibilitando visualizar suas semelhanças de forma mais clara, associando suas características de modo com que seja possível uma maior compreensão da imensidão cultural existente a partir das particularidades de cada entidade religiosa.
  br

  h2.subtitulo Religiões de matrizes africanas e seu surgimento em contexto brasileiro
  br
  p.texto &emsp;&emsp;&emsp;  A religião é uma das principais características culturais feridas pela imposição realizada pelo colonizador na tentativa de suprimir a crença nativa e, tratando-se das de origens africanas, há uma vilanização exagerada, derivada de preconceitos seculares, o que é algo extremamente presente ainda nos dias atuais em nosso país. 
  p.texto &emsp;&emsp;&emsp;  As principais religiões dessas matrizes encontradas no Brasil atualmente são a Umbanda e o Candomblé, cada uma com suas características, apesar das similaridades, que se formaram através da cultura trazida pelos povos africanos escravizados no período de colonização, onde houve uma imposição violenta da cultura colonizadora, bem como um contato com a cultura originária que passava pelas mesmas imposições, assim criando-se uma mescla intercultural que originou características específicas para estas crenças tornarem-se o que encontramos nos dias atuais. Dentre as nações africanas praticantes do animismo (de certa forma, um culto à forças da natureza), cada uma tinha, como base, o culto a um único orixá sendo assim a junção dos cultos de vários orixás um fenômeno surgido no Brasil em em decorrência da escravização de pessoas trazidas de diversos reinos do continente africano, agrupadas em senzalas, nomeavam um pai ou mãe de santo, também conhecidos como Babalorixá no caso dos homens e Iyalorixá no caso das mulheres. 
  p.texto &emsp;&emsp;&emsp;  Dentro dessas religiões, ainda existem outras divisões, chamadas de Nações, provenientes da quantidade de povos distintos arrancados de seus lares e trazidos para cá, separadas a partir do povo que a deu origem, a língua falada em seus rituais, seus cânticos e até mesmo formas de referirem-se às divindades, cada uma com suas distinções e detalhes únicos. Um exemplo de Nação é o Candomblé de Ketu, de origem Nagô, povo iorubá da Nigéria, Benim e Togo, cujo idioma é o iorubá.
  br

  div.live 
    iframe.video( height="415", src="https://www.youtube.com/embed/Np19ZBd11f4", title="YouTube video player", frameborder="0", allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture", allowfullscreen)
  p.legenda Vídeo: "IEMANJÁ: FÉ E CELEBRAÇÃO PRETA"


  br
  h2.subtitulo O Sincretismo Religioso
  br
  p.texto &emsp;&emsp;&emsp;  O Sincretismo religioso é a mistura de diversas crenças religiosas e traços culturais oriunda da convivência de diferentes raízes que geram modificações em todas as doutrinas envolvidas. Segundo Waldemar Valente em seu livro “Sincretismo Religioso afro-brasileiro” de 1995:  “O sincretismo se caracteriza fundamentalmente por uma intermistura de elementos culturais. Uma íntima interfusão, uma verdadeira simbiose, em alguns casos, entre os componentes das culturas que se põem em contacto. Simbiose que dá em resultado uma fisionomia cultural nova, na qual se associam e se combinam, em maior ou menor proporção, as marcas características das culturas originárias.” 
  p.texto &emsp;&emsp;&emsp;  No Brasil esse processo teve enfoque nos séculos XVIII e XIX, sendo o primeiro contato com o sincretismo quando os portugueses tentaram catequizar os indígenas, impondo suas crenças sobre a dos nativos, buscando associações entre seus santos e os deuses desses povos. Durante esse período intenso de sincretismo houve o surgimento e crescimento de religiões afro-brasileiras como a umbanda, que traz características do candomblé, do espiritismo e do catolicismo. Outros exemplos do sincretismo afro-brasileiro são as relações entre figuras religiosas de diferentes origens, como a figura de São Jorge, que é relacionada a Oxóssi na Bahia, mas é relacionada a Ogum no Rio de Janeiro, bem como algumas das datas comemorativas dessas figuras relacionadas que ocorrem nos mesmos dias, e músicas citam várias nomeações para uma mesma figura. 
  br

  h2.subtitulo Concluindo
  br
  p.texto &emsp;&emsp;&emsp; Nesta área foram abordados temas delicados envolvendo a forma com que as religiões podem se entrelaçar, havendo uma mistura intercultural que por vezes pode acabar ocorrendo de maneira violenta, a partir do detrimento de culturas originárias, como foi o caso dos povos originários de Pindorama, atualmente conhecido por Brasil, através de uma imposição da cultura do colonizador, que até os dias atuais é privilegiada e vangloriada. É importante ressaltar que o respeito é algo que deve ser prezado, ouvindo os participantes dessas culturas ao falarem sobre suas crenças e a forma com que atualmente as mesmas são vilanizadas e por vezes ridicularizadas. A religião e a crença, como visto acima, se manifestam de maneiras distintas para cada pessoa, se relacionando com sua cultura e sua vivência, para assim fortalecer sua fé ou detrí-la, não necessitando de um culto, mas apenas sim de espiritualidade.
  br

  h2.subtitulo Recomendações de Material de Estudo: 
  br
  p.texto CAMPOS, Isabel. RUBERT, Rosane. Religiões de Matriz Africana e a Intolerância Religiosa. Pelotas: Cadernos do Leopardaq. 2014.
  p.texto &emsp; Disponível em: 
    a.link(href="https://periodicos.ufpel.edu.br/ojs2/index.php/lepaarq/article/view/3390",  target="blank") https://periodicos.ufpel.edu.br/ojs2/index.php/lepaarq/article/view/3390
  br
  p.texto GEERTZ, Clifford. Religião como Sistema Cultural. Rio de Janeiro: Ed. Livros Técnicos e Científicos S.A., 1973.
  p.texto &emsp; Disponível em: 
    a.link(href="https://ri.ufs.br/bitstream/riufs/10180/24/23.pdf",  target="blank") https://ri.ufs.br/bitstream/riufs/10180/24/23.pdf
  br
  p.texto IEMANJÁ: FÉ E CELEBRAÇÃO PRETA
  p.texto &emsp; Disponível em: 
    a.link(href="https://www.youtube.com/watch?v=Np19ZBd11f4",  target="blank") https://www.youtube.com/watch?v=Np19ZBd11f4
  br
  p.texto JENSEN, Tina. Discursos sobre as religiões afro-brasileiras: Da desafricanização para a reafricanização. São Paulo: Revista de Estudos da Religião - REVER, 2001.
  p.texto &emsp; Disponível em: 
    a.link(href="http://www4.pucsp.br/rever/rv1_2001/index.html",  target="blank") http://www4.pucsp.br/rever/rv1_2001/index.html
  br
  p.texto VALENTE, Waldemar. Sincretismo religioso afro-brasileiro. Brasiliana, 1955.
  p.texto.final &emsp; Disponível em: 
    a.link(href=" http://brasilianadigital.com.br/brasiliana/colecao/obras/329/sincretismo-religioso-afro-brasileiro",  target="blank") http://brasilianadigital.com.br/brasiliana/colecao/obras/329/sincretismo-religioso-afro-brasileiro
  br
  br