extends layout 
 
block links
  link(href='/publico/css/temas.css' rel='stylesheet')
 

block principal
  br
  h1.titulo O racismo e as religiões de matrizes africanas 
  br
  h2.subtitulo O racismo religioso
  br
  p.texto &emsp;&emsp;&emsp;   A intolerância religiosa é um fator extremamente presente em nossa sociedade nos dias atuais, mas algo pouco comentado é a influência do racismo como agravante destas agressões, pois “desde o início, as religiões afro-brasileiras sobrevivem em estado de agonia no Brasil, pois, sempre foram alvos declarados ou não-declarados do sistema penal vigente, que organiza o seu funcionamento apoiando-se nas sólidas bases do racismo brasileiro” (SILVA, 2017, p.28).

  p.texto &emsp;&emsp;&emsp;   Utilizando-se de preconceitos seculares contra uma minoria já violentada devido a Fsuas raízes, e assim reprimindo as crenças desses povos, e concentrando tais ataques majoritariamente a religiões de matrizes africanas, por isso o uso do termo “Racismo Religioso”. Membros de comunidades pertencentes a crenças como Candomblé e Umbanda que há anos são perseguidas estão sujeitos a constrangimentos derivados da intolerância existente, o que fere seus direitos, pois são impedidos de professar sua própria fé, algo que compõe sua identidade, assim sendo impedido de ser a si mesmo.
  br

  h2.subtitulo A contribuição do neopentecostalismo para o racismo religioso
  br
  p.texto &emsp;&emsp;&emsp; Ao considerar o histórico colonial e a origem do neopentecostalismo, percebe-se um histórico sensível com outras culturas, que foram feridas por seus praticantes ao longo da história. Parte da vilanização das religiões de matrizes africanas é vinda a partir da imposição neopentecostal, que associa símbolos e figuras dessas religiões à algo negativo, criando visões distorcidas e estigmatizadas à toda pessoa negra, uma vez que a Umbanda e Candomblé são originadas a partir do povo negro.

  p.texto &emsp;&emsp;&emsp; Um exemplo claro dessas ações está no livro do Bispo Edir Macedo nomeado “Orixás, Caboclos e Guias: Deuses ou Demônios?” em que o autor prova não ter estudado a história e cultura que envolvem as religiões de matrizes africanas. O bispo associa diversos estigmas e preconceitos, professando palavras de extrema ignorância, como na citação “denuncia as manobras satânicas através do Kardecismo, da Umbanda e do Candomblé” e caracteriza Orixás, Exus e Erês como Demônios, alegando que irá ensinar seus leitores a se “libertarem”.
  br

  h2.subtitulo Casos de Racismo Religioso encontrados na Mídia
  br
  p.texto &emsp;&emsp;&emsp; Frequentemente são encontrados na mídia casos de racismo religiosos, onde pessoas sofrem ataques por professarem sua fé de matriz africana abertamente, alertamos que abaixo serão deixados alguns casos, o que é um tema sensível e pode causar desconforto e/ou gatilhos em algumas pessoas.

    p.texto &emsp;&emsp;&emsp; O primeiro caso a ser relatado aqui, é o de uma senhora idosa de 65 anos que foi agredida com pedradas por sua vizinha. As duas possuíam um histórico de conflitos pois a senhora de 65 anos Candomblecista não aceitava as agressões verbais da vizinha derivadas de intolerância religiosa e caso pode ser encontrado na reportagem do G1, escrita por Daniel Silveira em 20/08/2017, 
        a.link(href=" https://g1.globo.com/rio-de-janeiro/noticia/idosa-e-agredida-a-pedradas-e-familia-denuncia-intolerancia-religiosa-em-nova-iguacu.ghtml",  target="blank") https://g1.globo.com/rio-de-janeiro/noticia/idosa-e-agredida-a-pedradas-e-familia-denuncia-intolerancia-religiosa-em-nova-iguacu.ghtml

  
    p.texto &emsp;&emsp;&emsp;  A segunda reportagem relata invasões e roubos a terreiros, bem como entrada de cômodos importantes e quebra de objetos sagrados, o que demonstra um terrível desrespeito com a crença, bem como uma sensação desoladora quando a narrativa piora ao ser contado que apesar de vários chamados, a polícia nunca compareceu ao local para recolher o boletim de ocorrência. Pode ser lido mais na reportagem de 17/07/2019 no Portal Aprendiz,
        a.link(href="https://portal.aprendiz.uol.com.br/2019/07/17/terreiros-sao-alvo-de-intolerancia-religiosa-e-racismo-brasil/ ",  target="blank") https://portal.aprendiz.uol.com.br/2019/07/17/terreiros-sao-alvo-de-intolerancia-religiosa-e-racismo-brasil/ 
  
    p.texto &emsp;&emsp;&emsp; O terceiro caso refere-se à mãe de santo Mam'etu Kavunjenan de 56 anos, que registrou um boletim de ocorrência, devido a vizinhos tentando impedi-la de professar sua fé e de realizar ritos religiosos, alegando que no Terreiro praticavam “Magia Negra”, e dizendo coisas como “Xô, Satanás”, entre outras ofensas por meio de estereótipos racistas e vilanizados da fé candomblecista. Mais informações disponíveis na reportagem de Larissa Amaral, no Jornal O Dia, do dia 22/07/2021 
        a.link(href="https://odia.ig.com.br/rio-de-janeiro/2021/07/6195419-mae-de-santo-denuncia-caso-de-intolerancia-religiosa-na-zona-norte.html",  target="blank") https://odia.ig.com.br/rio-de-janeiro/2021/07/6195419-mae-de-santo-denuncia-caso-de-intolerancia-religiosa-na-zona-norte.html
  
    p.texto &emsp;&emsp;&emsp; Um caso que foi muito comentado no início do ano de 2021 foi o relacionado a cantora Beyoncé que, ao lançar um filme nomeado Black Is King onde homenageia a cultura africana, foi associada à magia negra, bruxaria por um apresentador da igreja universal da Emissora Record, o que indignou seus fãs e causou discussões na internet. Um pouco mais sobre o caso pode ser visto na reportagem escrita por Renata Noiar de 08/01/2021, no site Socialismo Criativo:
        a.link(href="https://www.socialismocriativo.com.br/record-associa-beyonce-com-magia-negra-e-redes-reagem/",  target="blank") https://www.socialismocriativo.com.br/record-associa-beyonce-com-magia-negra-e-redes-reagem/
    
    p.texto &emsp;&emsp;&emsp; Estes são apenas alguns exemplos encontrados na mídia em uma simples pesquisa, por vezes podendo chegar a casos ainda mais extremos, a violência tornou-se algo cotidiano para essas pessoas, apenas por suas crenças, apenas por sua cultura, por serem quem são, e nem mesmo pessoas de grande fama estão livres de tais brutalidades.

  br 

  br


  h2.subtitulo Concluindo
  br
  p.texto &emsp;&emsp;&emsp; O Racismo Religioso é algo que está impregnado em pequenas ações no dia a dia das pessoas, algumas vezes as pessoas nem percebem como sua fala ou ato pode ser prejudicial, mas por vezes é claro que a intenção é voltada para a crueldade, que inegavelmente ronda a vida dos praticantes de religiões de matrizes africanas. 
  p.texto &emsp;&emsp;&emsp; Essa intolerância existe há muito tempo, principalmente quando trata-se do neopentecostalismo, tendo uma relação agressiva e duradoura, não coexistindo de modo saudável devido a ataques verbais e físicos como visto nos exemplos apresentados, “justificados” por meio de estigmas e inverdades, causando intenso sofrimento em pessoas que apenas desejavam cultuar suas crenças e serem quem são livremente conforme o Estado prevê.

  br

  h2.subtitulo Recomendações de Material de Estudo: 
  br
  p.texto CLEMÊNCIA, Maria Aparecida. PL 21/2015 RS: História, Cidadania e Exclusão das Religiões de Matriz Africana em Porto Alegre. Florianópolis, 2015.
  p.texto &emsp; Disponível em: 
    a.link(href="https://repositorio.ufsc.br/xmlui/handle/123456789/159596",  target="blank") https://repositorio.ufsc.br/xmlui/handle/123456789/159596
  br
  p.texto KLIPPEL, Nathalia. Intolerância Religiosa: A coexistência da Umbanda e do Neopentecostalismo. Rio de Janeiro, 2018.
  p.texto &emsp; Disponível em: 
    a.link(href="https://app.uff.br/riuff/handle/1/10196",  target="blank") https://app.uff.br/riuff/handle/1/10196
  br
  p.texto SANTOS, Tamila. A relação do povo de santo com o estado, em SALVADOR/BA: uma análise a partir das ações da secretaria de promoção da igualdade racial. Salvador, 2015.
  p.texto &emsp; Disponível em: 
    a.link(href="http://repositorio.ufba.br/ri/handle/ri/24923",  target="blank") http://repositorio.ufba.br/ri/handle/ri/24923
  br
  p.texto SILVA, Gabriela Maria. RACISMO RELIGIOSO E SISTEMA PENAL: A sobrevivência das religiões de matriz africana no Brasil. Pernambuco, 2017.
  p.texto &emsp; Disponível em: 
    a.link(href=" https://repositorio.ufpe.br/handle/123456789/24333",  target="blank") https://repositorio.ufpe.br/handle/123456789/24333
  br
  p.texto A VIOLÊNCIA contra religiões AFRO - Canal Preto 
  p.texto &emsp; Disponível em: 
    a.link(href="https://www.youtube.com/watch?v=oP4IJ_gDQgM",  target="blank") https://www.youtube.com/watch?v=oP4IJ_gDQgM
  br
  p.texto Interfaces do Racismo: Racismo Religioso 
  p.texto &emsp; Disponível em: 
    a.link(href="https://www.youtube.com/watch?v=ExYG4-M-rsM",  target="blank") https://www.youtube.com/watch?v=ExYG4-M-rsM
  br
  p.texto ESPECIAL: A intolerância contra as religiões de matrizes africanas no Brasil
  p.texto.final &emsp; Disponível em: 
    a.link(href=" https://www.youtube.com/watch?v=tSbl2LwFB1s",  target="blank") https://www.youtube.com/watch?v=tSbl2LwFB1s
  br
  br