extends layout 
 
block links
  link(href='/publico/css/temas.css' rel='stylesheet')
 

block principal
  br
  h1.titulo O estudo de religiões de matrizes africanas como efetivação da Lei 10.639

  br
  h2.subtitulo A importância do estudo das religiões de matrizes africanas
  br
  p.texto &emsp;&emsp;&emsp;  A cultura afro-brasileira deve ser estudada, porém costuma ser trabalhada de maneira rápida e indevida, tanto por repressão e preconceito vindo do contexto familiar, quanto dos próprios professores e alunos, pois, como dito por Müller e Santos (p. 97) em seu texto A presença/ausência da história e cultura negra na escola no livro Relações Étnico Raciais e Diversidade “Há no contexto escolar uma prática de “naturalização do preconceito”, e até mesmo uma “gramática da discriminação”.

  p.texto &emsp;&emsp;&emsp;  Ao se falar em divindades se faz necessário um amplo estudo, a fim de evitar equívocos, considerando a sensibilidade do tema “religião” principalmente de culturas tão marginalizadas quanto as afro-brasileiras; mediante a situação, é imprescindível a realização de uma pesquisas sobre as características religiosas, de modo que a abrangência do conhecimento cultural sobre tais religiões torne-as melhor compreendidas e menos vilanizadas, assim também fornecendo uma identificação cultural diversificada, e não para apenas um único grupo privilegiado, como ocorre com o cristianismo atualmente; criando também um maior sentimento de segurança nos praticantes para professarem sua fé abertamente sem medo de represálias e agressões derivadas da ignorância e preconceitos populares.
  br

  h2.subtitulo Comparação das figuras em diferentes religiões
  br
  p.texto &emsp;&emsp;&emsp; É comum ler sobre diferentes religiões e encontrar características similares entre elas, cada uma a seu modo e interpretação, por vezes muito próximas, por vezes pequenas coincidências, como no caso clássico da comparação entre os deuses gregos com os deuses nórdicos, como as deusas Afrodite e Freya, ambas sendo deusas do amor e de extrema beleza, que possuem admiradores entre todos os seres, as deusas podem ser comparadas a Orixá Oxum, pois a mesma também representa o amor e possui extrema beleza, e assim como a deusa Freya, cujas lágrimas transformam-se em ouro, Oxum também é conhecida por representar as riquezas e chamada de Senhora do Ouro.
  p.texto &emsp;&emsp;&emsp; Outro exemplo, desta vez entrelaçando com o cristianismo, temos o dilúvio descrito na Bíblia, na qual Deus teria o criado devido os níveis de maldade do homem, porém o mesmo teria permitido Noé abrigar em sua arca um casal de cada espécie para garantir um recomeço; nas linhas de matrizes africanas, há contos de que Olokun, o Orixá do Oceano em sua forma mais perigosa em um momento de fúria mandou um dilúvio que quase condenou a humanidade, que felizmente foi salva por Olorum, que lançou uma corrente para que pudessem segurar-se e depois acorrentou Olokun nas profundezas.
  p.texto &emsp;&emsp;&emsp; Outras comparações podem ser encontradas no site no tópico Comparações das figuras religiosas correspondentes, onde são separadas divindades seguindo o tema a qual pertencem e especificando suas histórias e características, assim sendo possível uma comparação e análise de similaridades e diferenças entre as mesmas ampliando assim seu acervo de conhecimento cultural.
  br

  h2.subtitulo Outras formas de inserção do tema em ambiente escolar
  br
  p.texto &emsp;&emsp;&emsp; O tema pode ser explorado de diversas formas no contexto escolar a partir do momento em que para-se de utilizar de apoio bases estigmatizadas sobre o mesmo, como por exemplo através de eventos, mesas redondas, rodas de conversas, palestras, até mesmo pequenos detalhes como fazer menções a eventos e feriados religiosos não-cristãos já fazem uma diferença, mostrando-se um espaço aberto para esse diálogo.
  p.texto &emsp;&emsp;&emsp;Trazer pessoas que vivenciam essa religião é de extrema importância para que os estudantes aprendam genuinamente sobre a diversidade cultural existente e busquem encontrar o que se identificam e evitem deferir e instigar ataques contra crenças diferentes das suas.
  br

  h2.subtitulo Concluindo
  br
  p.texto &emsp;&emsp;&emsp; É importante o estudo da diversidade cultural existente para assim abranger uma maior visão de mundo, tendo uma amplitude em sua vivência e conhecimentos e assim ter maior capacidade de viver em sociedade de modo saudável e empático, bem como de modo com que todas as pessoas sintam-se confortáveis para serem quem são, e é importante que isso seja cumprido desde as escolas, de modo com que fique claro o direito legal de cada pessoa de possuir uma identidade e de ter a mesma respeitada.
  br

  h2.subtitulo Recomendações de Material de Estudo: 
  br
  p.texto BUNDCHEN, Célia. Significados de Religião em Diferentes Contextos Educativos. Canoas:Universidade Luterana do Brasil. 2005

  p.texto.final &emsp; Disponível em: 
    a.link(href="http://bdae.org.br/jspui/handle/123456789/1658",  target="blank") http://bdae.org.br/jspui/handle/123456789/1658
  br
  br