extends layout 
 
block links
  link(href='/publico/css/temas.css' rel='stylesheet')
 

block principal
  br
  h1.titulo Ambiente escolar e ensino religioso
  br
  h2.subtitulo O ensino Cristão em detrimento de outras crenças
  br
  p.texto &emsp;&emsp;&emsp;  É comum encontrar no Brasil escolas cristãs, cujas figuras de poder estudantil também são figuras de religiosas, como padres, pastores, bispos e freiras, sendo obrigatórias nessas instituições seguir regras destas doutrinas, como por exemplo em relação até mesmo a própria aparência dos estudantes, indo além de seus modos de portar-se. Além destas instituições, é possível encontrar escolas públicas em que os estudantes devem realizar uma oração cristã, como o Pai Nosso, antes de adentrar a sala de aula para iniciar seus estudos, e até mesmo algumas onde a escola possui a matéria de ensino religioso, porém o mesmo é focado apenas no cristianismo, sob pretexto de possuir mais professantes no país do que outras religiões.

  p.texto &emsp;&emsp;&emsp; Em matérias de caráter social também frequentemente é priorizado o estudo do ensino religioso cristão, por considerarem-no mais importante para a história da sociedade devido sua influência, muitas vezes desconsiderando o impacto cultural e social de outras crenças durante a formação da humanidade nos padrões na qual a mesma se encontra nos dias de hoje.
  br

  h2.subtitulo A intolerância religiosa no ambiente escolar
  br
  p.texto &emsp;&emsp;&emsp; Quando se fala do contexto escolar, depara-se com uma enorme variedade de pessoas, criando uma comunicação entre diversas realidades, que por vezes conflituam-se justamente por suas diferenças. Ocorre um fenômeno nessas instituições onde há a priorização de determinada cultura a partir de um histórico enraizado em nossa sociedade, criando uma falta de identificação das pessoas para com as vivências valorizadas e glorificadas nas mesmas.
  p.texto &emsp;&emsp;&emsp; A cultura afro-brasileira deve ser estudada em ambiente escolar, porém costuma ser trabalhada de maneira rápida e indevida, tanto por repressão e preconceito vindo do contexto familiar, quanto dos próprios professores e alunos, pois, como dito por Müller e Santos (p. 97) em seu texto A presença/ausência da história e cultura negra na escola no livro Relações Étnico Raciais e Diversidade “Há no contexto escolar uma prática de “naturalização do preconceito”, e até mesmo uma “gramática da discriminação”.

  p.texto &emsp;&emsp;&emsp; Um claro exemplo de repressões em ambiente escolar pode ser visto na palestra ministrada pela Professora Doutora em Letras Vernáculas/ Literatura Brasileira pela UFRJ (Universidade Federal do Rio de Janeiro) Renata de Oliveira Batista Rodrigues com o título “Religiões de Matrizes Africanas e Escola: Algumas Percepções” organizada como parte do projeto. A palestrante conta sua vivência em âmbito escolar e ocorridos relacionados à religiões de matrizes africanas, como o fato de não ser permitido dar aos seus alunos doces de Cosme e Damião, ou mesmo contar as histórias dos orixás explicitando seus nomes, a fim de evitar represálias.
  br

  h2.subtitulo Concluindo
  br
  p.texto &emsp;&emsp;&emsp; É inegável a existência conflituosa do tema Ensino Religioso em toda sua abrangência em ambiente escolar, derivando-se dos ocorridos do período colonial até os dias atuais e a forma com que as pessoas se relacionam com a convivência de diferentes culturas em um mesmo ambiente. Há uma preferência clara para com as crenças cristãs nestes ambientes e pode-se averiguar suas raízes na intolerância religiosa existente no meio externo, influenciando diretamente a comunidade acadêmica que, apesar de frequentes negações, ainda necessita ampliar seus acervos culturais para abranger culturas mais diversas, ao invés de manter-se focada em apenas uma, sob consequência do detrimento de outras crenças.
  br

  h2.subtitulo Recomendações de Material de Estudo: 
  br
  p.texto CAMPOS, Isabel. RUBERT, Rosane. Religiões de Matriz Africana e a Intolerância Religiosa. Pelotas: Cadernos do Leopardaq. 2014.
  p.texto &emsp; Disponível em: 
    a.link(href="https://periodicos.ufpel.edu.br/ojs2/index.php/lepaarq/article/view/3390",  target="blank") https://periodicos.ufpel.edu.br/ojs2/index.php/lepaarq/article/view/3390
  br
  p.texto Religiões de Matriz Africana e Escola: Algumas Percepções.
  p.texto.final &emsp; Disponível em: 
    a.link(href="https://www.youtube.com/watch?v=uArdznI7v5c",  target="blank") https://www.youtube.com/watch?v=uArdznI7v5c
  br
  br