extends layout 
 
block links
  link(href='/publico/css/temas.css' rel='stylesheet')
 
 
block principal
  br
  br
  h1.titulo As religiões em diferentes culturas
  br
  h2.subtitulo Conceituando religião, culto, seitas, fé, crença e espiritualidade
  br
  p.texto Texto Texto Texto Texto Texto Texto Texto Texto Texto Texto Texto Texto Texto Texto Texto Texto Texto Texto Texto Texto Texto Texto Texto Texto Texto Texto Texto Texto Texto Texto Texto Texto Texto Texto Texto Texto Texto Texto Texto Texto Texto Texto Texto Texto Texto Texto Texto Texto Texto Texto Texto Texto Texto Texto Texto Texto Texto Texto Texto Texto Texto Texto Texto Texto Texto Texto Texto Texto Texto Texto    
  br
  br