extends layout 
 
block links
  link(href='/publico/css/temas.css' rel='stylesheet')
 
 
block principal
  br
  h1.titulo Cultura, história e religiões de matrizes africanas 

  br
  h2.subtitulo Relação das religiões com outros fatores culturais como a comida e a dança:
  br
  p.texto &emsp;&emsp;&emsp;  Como parte de uma cultura, a religião é um item extremamente ligado a outros fatores tradicionais de seus praticantes, como comida, dança e música, o que não seria diferente para religiões de matrizes africanas. As próprias cantigas das rodas de capoeira possuem letras que criam uma ponte fazendo referência aos santos católicos e aos Orixás, trazendo à tona novamente o sincretismo religioso, a mesma possui uma religiosidade que se manifesta através dos seus rituais, dos cânticos, da celebração, da memória e da conexão que a mesma traz aos antepassados; seus passos contam a história desses povos que foram escravizados e que criaram a capoeira como uma manifestação de seu desejo e luta por liberdade.

  p.texto &emsp;&emsp;&emsp;  A culinária possui uma forte relação com a religião para as crenças de matrizes africanas, como pode ser visto em oferendas aos Orixás, onde são oferecidos pratos específicos, tidos como os que mais os agradam, como no caso da canjica para Iemanjá ou o acarajé para Iansã, sendo este último considerado seu preparo sagrado e um rito religioso; outras oferendas podem ser encontradas na página específica de cada Orixá.


  br
  h2.subtitulo Símbolos e afirmação da identidade
  br
  p.texto &emsp;&emsp;&emsp;  Estas religiões possuem uma ligação extremamente forte com seu berço cultural, criando assim uma identidade a partir dessas relações, podendo ser visto como exemplo a capoeira, que é uma forma de luta ritmada como uma dança e reconhecida como uma forma de arte; surgida no período colonial em que o povo negro era extremamente violentado e então passou a treinar golpes e desenvolver agilidade, assim passando a criar o que hoje é reconhecida como a capoeira. Tal história ainda é repassada através dos golpes, dos passos e em cada aula de capoeira, sendo impossível negar essa conexão ainda presente aos antepassados, que é considerada algo espiritualmente presente em meio às rodas de capoeira.

  p.texto &emsp;&emsp;&emsp; A culinária também é um fator cultural extremamente atrelado ao sentimento de pertencimento cultural, é parte da identidade de cada pessoa; bem como seu processo de preparo faz parte de uma tradição que marca um grupo, um povo ou uma família, como é visível no caso do acarajé, que é um prato de origem candomblecista, preparado por baianas em homenagem a Iansã e Xangô, pois foi o prato quem lhes deu a habilidade de cuspir fogo pela boca e nariz; o prato deve ser preparado apenas por filhos de santo, e sua receita não deve ser alterada, seguindo a porção e formato para quem está sendo oferecido, como no caso de Iansã, onde deve-se oferecer tradicionalmente nove acarajés pequenos, para que se consiga maiores graças. Por ser um prato de sucesso até mesmo fora das religiões de matrizes africanas, as Baianas de Acarajé já lidaram com diversos problemas derivados de intolerância religiosa, indo além de pessoas que o preparam sem seguir seus ritos, até mesmo para tentativas de mudar o nome do alimento para “Bolinhos de Jesus”, na tentativa de desassociar o mesmo do candomblé, o que foi um ato de extremo desrespeito.

  br

  h2.subtitulo Concluindo
  br
  p.texto &emsp;&emsp;&emsp; Diariamente as pessoas são privadas de terem contato com seus antepassados e a cultura dos mesmos, muitas vezes sendo distanciados em níveis que os mesmos passam a desconhecer traços de suas raízes, causando um vazio geracional e dúvidas sobre seu verdadeiro pertencimento, causando feridas profundas em sua identidade; tais conexões através da música, dança e culinária são indispensáveis para o molde da identidade cultural de cada pessoa e sua conexão genuína com seus antepassados.


  br

  h2.subtitulo Recomendações de Material de Estudo: 
  br
  p.texto Acarajé: uma história de religião, liberdade e racismo | É Por Quilo

  p.texto &emsp; Disponível em: 
    a.link(href="https://www.youtube.com/watch?v=2Jfmfgjkl3k",  target="blank") https://www.youtube.com/watch?v=2Jfmfgjkl3k
  br
  p.texto BORGES, Florismar. Acarajé: tradição e modernidade. Bahia: Biblioteca do CEAO – UFBA, 2008.

  p.texto &emsp; Disponível em: 
    a.link(href="http://repositorio.ufba.br/ri/handle/ri/8774",  target="blank") http://repositorio.ufba.br/ri/handle/ri/8774
  br
  p.texto FREVO - DANÇA E CULTURA PRETA

  p.texto &emsp; Disponível em: 
    a.link(href="https://www.youtube.com/watch?v=HXG7OWUrjDU",  target="blank") https://www.youtube.com/watch?v=HXG7OWUrjDU
  br
  p.texto SALES, Aurelice. A importância das religiões de matriz africana, para preservação do meio - ambiente urbano. Mata de São João: Revista Eletrônica Científica Inovação e Tecnologia, 2010.

  p.texto.final &emsp; Disponível em: 
    a.link(href="https://periodicos.utfpr.edu.br/recit/article/view/4093",  target="blank") https://periodicos.utfpr.edu.br/recit/article/view/4093
  br
  br