.img {
    height: 650px;
    margin-left: 80px;
    margin-right: 80px;
    display: inline-block;
}

.texto {
    display: inline-block;
    text-align: justify;
    font-size: 20px;
}

h2 {
    display: inline-block;
    margin-bottom: 20px;
    margin-top: 50px;
    font-weight: bold;
}

.div {
    display: inline-block;
}

.divMaior {
    margin-left: 100px;
    margin-top: 50px;
}

.botao {
    background-color: #8D2B1D;
    border-color: #8D2B1D;
    margin: 10px;
}

.botao:hover {
    background-color: #EDAE2A;
    border-color: #EDAE2A;
    color: black;
}