.img_capa {
    width: 100%;
}

.titulo {
    text-align: center;
    font-size: 40px;
    margin: 30px;
}

h2 {
    font-size: 25px;
    margin: 20px;
    font-weight: bold;
}

h5 {
    font-weight: bold;
}

.texto {
    text-align: justify;
    font-size: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.link {
    font-size: 20px;
}

.img {
    margin-top: 10px;
    margin-bottom: 10PX;
}

.cards {
    display: flex;
    justify-items: center;
    align-items: center;
    margin: auto;
}

.curriculo {
    font-size: 20px;
    margin-left: 20px;
}