extends ../layout 
 
block links
  link(href='/publico/css/geral.css' rel='stylesheet')
 
 
block principal
  br
  br
  div.row
    img.img.col-4(src='/publico/imgs/artemis.png')
    
    div.col-6.div
      br
      h2 Ártemis
      
      p.texto Ártemis  Filha de Zeus com Leto, Ártemis era a deusa grega da caça, vida selvagem, castidade e luz suave, sendo irmã gêmea do deus Apolo do Sol e ela a deusa da Lua. Uma das deusas donzelas dos contos gregos, sendo casta e pura, Ártemis nasceu primeiro que seu irmão e ajudou sua mãe a realizar o parto do mesmo. Filha de Zeus com Leto, Ártemis era a deusa grega da caça, vida selvagem, castidade e luz suave, sendo irmã gêmea do deus Apolo do Sol e ela a deusa da Lua. Uma das deusas donzelas dos contos gregos, sendo casta e pura, Ártemis nasceu primeiro que seu irmão e ajudou sua mãe a realizar o parto do mesmo.


      br
      p.texto Sendo grandiosa na caçada, sua flecha era certeira e a morte fulminante. Ela e seu irmão eram muito semelhantes e tinham poderes sobre pragas e curas. Sempre com sua arma em mãos, o arco e flecha, Ártemis mandava doenças e pragas para homens e animais como punição, porém também agia com compaixão quando era preciso. A cura e piedade também eram habilidades da deusa, assim como a habilidade de transformar pessoas em animais, o que ocorria quando não as matava, podendo também transformá-las em estrelas, sendo criadora de diversas constelações.

      br
    div.col-10.divMaior
      p.texto Sendo uma grande guerreira, perdeu pouquíssimas batalhas, sendo a mais famosa a Guerra de Tróia onde ela apoiou os troianos. Ártemis enfrentou Hera, que com grande força e fúria despedaçou o seu arco e flecha e a golpeou na cabeça, obrigando a deusa a, triste e ferida, retornar ao Olimpo.


      br
      p.texto A maior amizade da deusa foi com o gigante Órion, o que causou ciúmes em seu gêmeo que a enganou para matá-lo. Órion encontrava-se banhando no oceano, bem distante da costa, apenas com a cabeça de fora, quando Apolo, no céu com sua irmã, a desafiou a atirar em qualquer coisa que estivesse no oceano; com sua competitividade atiçada, Artemis acertou seu amigo com uma flecha fatal, sem dar-se conta. A deusa sofreu muito com a perda, transformando seu amigo em uma constelação.


      br
      a.btn.btn-primary.botao.final(href="/divindades") Voltar
      p.final
      
 
   
