extends ../layout 
 
block links
  link(href='/publico/css/geral.css' rel='stylesheet')
 
 
block principal
  br
  br
  div.row
    img.img.col-4(src='/publico/imgs/atena.png')
    
    div.col-6.div
      br
      h2 Atena 
      br
      p.texto Atena, deusa grega da sabedoria, protetora das artes, das invenções, das estratégias em batalha, da arquitetura, da bravura e da eloquência era considerada equilibrada, sábia, diplomática e protetora de cidadelas. Para Atena, a guerra não era um espaço de brutalidade, mas de conquistas sociais e políticas. 
      br
      p.texto Seu nascimento, nas versões mais conhecidas, foi através da cabeça de Zeus, pois o mesmo havia recebido uma profecia que dizia que a mesma seria extremamente poderosa; com medo de ser superado, ele engoliu a mãe, ainda grávida, na esperança de ter dado um fim na criança. Anos depois, o deus estava com uma enorme dor de cabeça, e então, na tentativa de aliviar, para descobrir o que havia de errado, o mesmo pediu para que Hefesto desse uma machadada em seu crânio. Do corte que se abriu, então, saiu a deusa, já adulta e armada; porém ela não quis destronar seu pai, e sim reinar ao seu lado, auxiliando principalmente em estratégias e sabedoria.
      br
    div.col-10.divMaior
      p.texto A deusa possui uma enorme rivalidade com o deus dos mares, Poseidon; ambos disputaram para serem o patrono de uma cidade em uma região da Ática, onde presentearam humanos com diversas criações, incluindo a carroça. No fim da disputa, Atena ganhou e assim a cidade foi nomeada de Atenas, em sua homenagem, onde também construíram o templo mais famoso da deusa: o Partenon.
      br
      a.btn.btn-primary.botao.final(href="/divindades") Voltar
      p.final