extends ../layout 
 
block links
  link(href='/publico/css/geral.css' rel='stylesheet')
 
 
block principal
  br
  br
  div.row
    img.img.col-4(src='/publico/imgs/exu.png')
    div.col-6.div
      br
      h2 Exu
      br
      p.texto Exu é um Orixá de difícil compreensão, que sofre grande preconceito por ser identificado como o diabo cristão por línguas ignorantes, assim como por ser brincalhão e audacioso. Ele é responsável pelo transporte das oferendas e pela comunicação com os Orixás, é um intermediário, sendo quem abre e fecha caminhos e que sempre questiona o certo e o errado. 
      br
      p.texto Exu era um aprendiz de Oxalá, que, enquanto criava os humanos, pedia a Exu que recolhesse e lhe entregasse suas oferendas, Exu então foi recompensado com suas próprias oferendas e montou sua casa na encruzilhada, onde era o guardião de Oxalá. Foi o primeiro a chegar à terra, e o primeiro a ser cultuado na Umbanda. Exu é um Orixá carismático, mas exige respeito e reverência, e é capaz de causar mal entendidos para aqueles que não o tratam devidamente.  
      br
     
    div.col-10.divMaior
      p.texto 	Em sua falange possui os Guias Exus, que são espíritos que normalmente possuem nomes que fazem referência ao Orixá, mas que não são de fato o Orixá incorporado. Alguns deles são: Exú Caveira, Exú Tiriri, Exú Marabô, Exú do Lodo, Zé Pilintra, Maria Mulambo, Maria Padilha, etc. 
      br
      p.texto É importante destacar que Exu é um orixá de esquerda, atuando tanto na luz, quanto na sombra, devido ao fato de que ele é o Orixá mais próximo dos sentimentos humanos, por ser a ponte entre estes e os outros Orixás. 

      br
      p.texto Frequentemente ele é visto com maus olhos por pessoas ignorantes que lhe associam a demônios e, principalmente, ao diabo cristão, de modo errôneo, por tomá-lo como algo maligno, o que ele não é; um claro exemplo disso é no livro de Edir Macedo onde o mesmo faz associações preconceituosas e chama oferendas a Exu de pactos com o demônio, dizendo que são pessoas que deram lugar ao “diabo” em suas vidas. 
      br
      p.texto Tais falas são apenas exemplos da vilanização que o Orixá sofre de pessoas que desconhecem sua história e a cultura da qual o mesmo é proveniente, desrespeitando crenças e violentando culturas. Enfatiza-se a importância do respeito para com as diversas religiões e a necessidade de conhecer algo, para evitar proclamações errôneas que podem acabar ferindo pessoas e divindades.
      br
      br
      p.texto 
        b Saudação: Laroiê, Exu, Exu mojubá!
      br
      p.texto 
        b Comidas e Bebidas: cachaça, padê
      br
      p.texto 
        b Cor: preto e vermelho
      br
      p.texto 
        b Elemento: fogo 
      br
      p.texto 
        b Ervas: arruda, capim tiririca, pimenta, hortelã, salsa. 
      br
      p.texto
        b Comemoração: 13 de junho
      br
      p.texto
        b Alguns pontos de Exu: 
      br
      p.texto &emsp; Exu - Serena Assumpção:  
        a.link(href="https://www.youtube.com/watch?v=vcVBDF8E0VQ",  target="blank") https://www.youtube.com/watch?v=vcVBDF8E0VQ
      p.texto &emsp; Ponto de Exu Caveira:  
        a.link(href="https://www.youtube.com/watch?v=iBUo8sh2xbg",  target="blank") https://www.youtube.com/watch?v=iBUo8sh2xbg
      p.texto &emsp; Ponto Exu Capa Preta:  
        a.link(href="https://www.youtube.com/watch?v=-AihPJ_6iuA",  target="blank") https://www.youtube.com/watch?v=-AihPJ_6iuA
      br
      br
      a.btn.btn-primary.botao.final(href="/divindades") Voltar
      p.final 
      
 
   
