extends ../layout 
 
block links
  link(href='/publico/css/geral.css' rel='stylesheet')
 
 
block principal
  br
  br
  div.row
    img.img.col-4(src='/publico/imgs/hermes.png')
    
    div.col-6.div
      br
      h2 Hermes
      p.texto  Hermes é filho de Zeus, o rei dos deuses, juntamente com Maia, uma ninfa da montanha, nascido dentro de uma caverna em uma montanha, onde logo após dar à luz, a ninfa adormeceu e assim o deus, recém nascido, escapou, calçando suas sandálias aladas e saiu em uma viagem, em busca por aventura durante a noite.
      br
      p.texto Chegando em Piéria, onde o deus Apolo guardava seus rebanhos de gado, o pequeno deus não resistiu ao descuido de seu meio-irmão, abriu a porteira e roubou-lhe cinquenta novilhas. Ao retornar para a caverna de sua mãe, Hermes encontrou uma tartaruga, o que acreditou ser um sinal de sorte, então utilizou o casco dela, juntamente com pedaços de cana, e fez assim a primeira lira, instrumento capaz de produzir um dos sons mais belos existentes.
      br
    div.col-10.divMaior
      p.texto Ao dar falta das novilhas, Himeneu, filho de Apolo, correu contar ao seu pai o que havia ocorrido. O deus do Sol utilizou seus dons para a adivinhação e descobriu que a façanha pertencia ao seu mais novo irmão, então foi interrogar o recém nascido, que fez uso de toda sua eloquência para negar o roubo. Indignado, o mais velho recorreu a Zeus, para que o pai auxiliasse na resolução do problema; o deus dos raios então obrigou Hermes a devolver o gado à Apolo, que assim o fez, entregando juntamente sua mais nova invenção: a Lira, que encantou o mais velho, que também é Patrono dos músicos, fazendo assim com que ele o perdoasse. Com sua raiva agora esvaída, o deus mais velho consagrou Hermes como deus dos ladrões e o tornou seu grande companheiro, assim ambos tornaram-se melhores amigos.
      br
      p.texto Seus maiores símbolos são suas botas e elmo alados, que lhe dão a habilidade de voar, juntamente com seu caduceu, um bastão adornado por duas serpentes também aladas. Foi um dos poucos filhos de Zeus fora do casamento que Hera não perseguiu pois admirava sua mãe e acreditava que a criança seria belíssima, e logo que o conheceu, o deus a conquistou com sua lábia. Apesar de travesso, Hermes era dotado de muita inteligência e sagacidade, sendo enviado para missões que exigiam maior disposição astúcia, além de frequentemente o deus se disfarçar de viajante para testar a hospitalidade dos mortais.
      br
      a.btn.btn-primary.botao.final(href="/divindades") Voltar
      p.final
      
 
   
