extends ../layout 
 
block links
  link(href='/publico/css/geral.css' rel='stylesheet')
 
 
block principal
  br
  br
  div.row
    img.img.col-4(src='/publico/imgs/iansa.png')
    div.col-6.div
      br
      h2 Iansã
      br
      p.texto É a Orixá feminina guerreira, senhora das tempestades, chuvas, trovões e ventos, também sendo a senhora dos espíritos desencarnados que os conduz para o plano de Obaluaê. Iansã era uma mulher muito bela, e queria conhecer o mundo, então durante sua jornada ela teve diversos companheiros, como Oxóssi, Exu, Obaluaê, entre outros. Ela não era cuidadora da casa, e muito menos frágil, ela representa o poder feminino e é uma Orixá nascida para as batalhas.  
      br
      p.texto Foi esposa de Ogum e de Xangô, Orixá com quem compartilha o elemento fogo. Quando casada com Ogum, o casal adotou Logunedé, que foi deixado por Oxum e apareceu perdido em sua vila, mas quando Xangô surgiu para uma visita ao irmão, Iansã se apaixonou e deixou Logunedé para ser criado apenas por Ogum.

      br
    div.col-10.divMaior
      p.texto Iansã não podia ter filhos e então procurou um babalaô, que explicou-lhe que precisava ser possuída por um homem, o que aconteceu com Xangô que lhe permitiu dar a luz a nove filhos. Oito desses filhos nasceram mudos, mas depois de novos conselhos de babalaô e oferendas feitas com amor, ela finalmente teve um filho que não era mudo, esse filho se chama Egungun.
      br
      p.texto 
        b Saudação: Eparrei!
      br
      p.texto 
        b Comidas e Bebidas: Acarajé, bobó de inhame e champanhe.
      br
      p.texto 
        b Cor: Amarelo
      br
      p.texto 
        b Elemento: fogo 
      br
      p.texto 
        b Ervas: cana-do-brejo, folha-de-louro, folha-de-fogo, peregum amarelo. 
      br
      p.texto
        b Comemoração: 04 de dezembro
      br
      p.texto
        b Alguns pontos de Iansã: 
      br
      p.texto &emsp; Iansã - Deusa do fogo:
        a.link(href="https://www.youtube.com/watch?v=xITYKqKpLMQ",  target="blank") https://www.youtube.com/watch?v=xITYKqKpLMQ
      p.texto &emsp; A dona do raio e do vento:  
        a.link(href="https://youtu.be/wR05zNR5GCc",  target="blank") https://youtu.be/wR05zNR5GCc
      p.texto &emsp; A guerreira vai reinar:  
        a.link(href="https://www.youtube.com/watch?v=LeeLdl3eK0w",  target="blank") https://www.youtube.com/watch?v=LeeLdl3eK0w
      br
      br
      a.btn.btn-primary.botao(href="/divindades") Voltar
      p.final 
   
