extends ../layout 
 
block links
  link(href='/publico/css/geral.css' rel='stylesheet')
 
 
block principal
  br
  br
  div.row
    img.img.col-4(src='/publico/imgs/iara.png')
    
    div.col-6.div
      br
      h2 Iara 
      p.texto  A senhora das águas, como significa seu nome vindo do Tupi-guarani “y-îara”. Com cauda de peixe e resto de seu corpo como mulher, portando uma enorme beleza, Iara possui longos cabelos pretos e olhos esverdeados. Habitando os rios amazônicos, Iara usa seu canto hipnótico para seduzir pescadores, levando-os para o fundo dos rios para que morram afogados. 

      br
      p.texto Em sua história mais conhecida, Iara era filha de um pajé, sua tribo localizava-se na amazônia e a jovem era sua melhor guerreira, tendo muitos elogios de seu pai dirigidos a mesma, o que causava inveja em seus irmãos homens que não saíam-se tão bem quanto ela. Certa noite, movidos pelo ciúme, eles resolveram tentar assassiná-la enquanto estava adormecida, porém seu plano falhou pois Iara foi capaz de defender-se, a custo da vida dos irmãos que lhe ameaçaram.
      br
    div.col-10.divMaior
      p.texto Por medo do que aconteceria por ter tirado vidas, Iara fugiu para o centro da mata, mas mesmo assim foi encontrada e castigada: sua punição, dada por seu próprio pai, foi ser jogada no encontro dos  rios Negro e Solimões. Tristes pela trágica situação da jovem indígena, os peixes a levaram de volta à superfície, sob a luz da lua cheia, e a trouxeram de volta, a transformando na poderosa Iara, a Mãe D’água.
      br
      p.texto Após sua transformação, Iara passou a cantar para seduzir pescadores, os levando para as águas. Após serem levados, eles jamais são vistos novamente, apesar de contar-se que, caso alguém escape da Senhora das Águas, a pessoa enlouquece após seu canto, e vive em um eterno estado de torpor, podendo ser liberto de tal sofrimento apenas por um Pajé.

      br 
      p.texto Nas linhas da umbanda Iara também é conhecida como Cabocla Iara, onde é irmã da Cabocla Jurema e é filha de Oxum.

      br
      a.btn.btn-primary.botao.final(href="/divindades") Voltar
      p.final
      
 
   
