extends ../layout 
 
block links
  link(href='/publico/css/geral.css' rel='stylesheet')
 
 
block principal
  br
  br
  div.row
    img.img.col-4(src='/publico/imgs/iemanja.png')
    
    div.col-6.div
      br
      h2 Iemanjá
      p.texto Iemanjá é a mãe dos Orixás, senhora das águas salgadas, marés, da ressaca, e da pesca, ela é a rainha do mar. Protetora dos pescadores e jangadeiros é uma das orixás mais conhecidas no país. Iemanjá rege os laços familiares, casamentos, uniões e os lares, além de toda comemoração familiar, a Orixá tem grandes valores maternos e acolhe a todos que pedem por ajuda, sendo uma representante da compaixão, do perdão e do amor. Quando os humanos começam a poluir o mar, desde o início da criação, Olorum concede à Iemanjá o poder das ondas, para que tudo o que não pertença ao mar possa ser levado de volta. 
      br
      p.texto Iemanjá é filha de Olokum, que lhe deu uma poção que lhe ajudaria a escapar de qualquer perigo quando era criança. Ela se casou com Oduduá e teve dez filhos orixás, porém por ter que alimentar 10 crianças, seus seios ficaram fartos e lhe causavam muita vergonha. Cansada de seu casamento com Oduduá, ela saiu rumo ao oeste e se apaixonou pelo rei Okerê. Ao seu novo amado faz apenas um pedido: que este nunca ofendesse ela pelos seus seios. Certo dia, embriagado, o rei ridicularizou a esposa e quebrou sua promessa. 
      br
    div.col-10.divMaior
      p.texto Destruída, Iemanjá usou a poção que ganhou do pai e se transformou em um rio que corre de encontro ao mar. Okerê então, se transformou em uma montanha com a intenção de impedir o curso de suas águas. A Orixá pediu ajuda ao seu filho Xangô, que partiu a montanha ao meio com um raio e transformou Iemanjá em águas livres novamente. 
      br
      p.texto Iemanjá é homenageada no dia 02 de fevereiro com uma grande festa na Bahia, onde pessoas vão ao mar para adorá-la, vestidas de branco agradecendo por suas bênçãos. Além disso, as simpatias das 7 ondas são feitas no dia 31 de dezembro também relacionadas a ela.
      br 
      br
      p.texto 
        b Saudação: Odoyá!
      br
      p.texto 
        b Comidas e Bebidas: Água, arroz, canjica, manjar, mamão.

      br
      p.texto 
        b Cor: Cristal, branco, azul claro

      br
      p.texto 
        b Elemento: água

      br
      p.texto 
        b Ervas: rosas brancas, colônia, abebê, jarrinha, pata-de-vaca.

      br
      p.texto
        b Comemorações: 02 de fevereiro, 08 de dezembro, 15 de agosto.

      br
      p.texto 
        b Alguns pontos de Iemanjá: 
      br
      p.texto &emsp; Eu escrevi um pedido na areia: 
        a.link(href="https://www.youtube.com/watch?v=ooRZjA6hqY8",  target="blank") https://www.youtube.com/watch?v=ooRZjA6hqY8
      p.texto &emsp; Prece de Pescador - Mariene de Castro:  
        a.link(href="https://www.youtube.com/watch?v=mtBFp4PMsyE",  target="blank") https://www.youtube.com/watch?v=mtBFp4PMsyE
      p.texto.final &emsp; Serena Assumpção - Iemanjá:  
        a.link(href="https://www.youtube.com/watch?v=pd60n_5cLqA",  target="blank") https://www.youtube.com/watch?v=pd60n_5cLqA
        br
        br
        a.btn.btn-primary.botao.final(href="/divindades") Voltar
      p.final 
