extends ../layout 
 
block links
  link(href='/publico/css/geral.css' rel='stylesheet')
 
 
block principal
  br
  br
  div.row
    img.img.col-4(src='/publico/imgs/orunmila.png')
    div.col-6.div
      br
      h2 Orunmilá
      br
      p.texto Orunmilá ou Orun Lá é um dos Orixás que estiveram presentes na criação da Terra e da humanidade, sendo o redentor do poder da intuição, da vidência e da leitura dos destinos, sendo responsável por guardar a sabedoria do Ifá (textos sagrados) e por isso é representado com o seu opelê ifá, sendo também o dono do Irofá awo (bastão dos segredos). Ele procura mostrar a todos que desejar o mal e vingar-se, mesmo contra seus inimigos, equivale a querer o mal para si mesmo, afinal, ao alimentarmos ódio, independente de por quem, em nosso peito, matamos também a nós mesmos pouco a pouco por dentro.
      br
      p.texto O Orixá é pai de dezesseis filhos, cada um representando uma característica da vida, como o amor, o ódio, a própria vida e a morte. Ele era rígido enquanto pai, sempre exigindo muito respeito de seus filhos e, certo dia, ao solicitar a presença de todos, um dos seus filhos recusou-se a ajoelhar-se diante dele. Ao confrontar o filho sobre qual o motivo de tamanha insolência, a resposta que lhe foi dada foi “Sou um rei e possuo as mesmas riquezas que você, como um rei poderia curvar-se a outro?”. O Orixá foi acometido por uma enorme tristeza, e por isso acabou retirando-se de Orum (céu) e abandonando sua missão de aperfeiçoar tudo que estava sendo criado.
      br
    div.col-10.divMaior
      p.texto Nesse período, diversos males acometeram todos os locais: seca, fome e a mais triste e dolorosa miséria. Muitos, incluindo sacerdotes e até mesmo seus 15 filhos, tentaram convencê-lo a voltar, mas o coração do Orixá estava muito machucado. Só então seu último filho, que havia se recusado a curvar-se, foi até ele em prantos e de joelhos, implorando pelo perdão, que lhe foi concedido. Apesar disso, o Orixá não quis retornar a seu cargo como protetor do bem da Terra, então ele apaziguou as desgraças que estavam ocorrendo e distribuiu caroços de dendezeiros, ensinando que fossem jogados quando alguém precisasse comunicar-se com ele, o que é conhecido por Jogo de Búzios, e incubiu aos seus dezesseis filhos o cargo de serem Odús (caminhos pelos quais os Orixás seguirão para resolverem todas as questões da vida).
      br
      br
      p.texto 
        b Saudação: Epá Ojú Olorún!
      br
      p.texto 
        b Comidas e Bebidas:vinho branco doce, fubá, farinha de milho com mel, inhame cozido, doces finos, lagostas, camarões e filés de carne.
      br
      p.texto 
        b Cor: Branco, verde e amarelo
      br
      p.texto 
        b Ervas: erva de lavadeira, gatária, candeia.
      br
      p.texto
        b Comemoração: 4 de outubro
      br
      br
      br
      a.btn.btn-primary.botao.final(href="/divindades") Voltar
      p.final 