extends ../layout 
 
block links
  link(href='/publico/css/geral.css' rel='stylesheet')
 
 
block principal
  br
  br
  div.row
    img.img.col-4(src='/publico/imgs/oxossi.png')
    
    div.col-6.div
      br
      h2 Oxóssi 
      p.texto Oxóssi, filho de Iemanjá e Oxalá, irmão de Ogum e Exu, é o Orixá correspondente às matas, caça e fartura. Rege as lavouras e ensina o equilíbrio e paciência necessários para viver em harmonia com a natureza. Oxóssi tem uma representação indígena, e não africana, pois ele é o regente dos caboclos. O Orixá também é ligado às artes plásticas, música e danças. Representa também a paz, o conforto e a preguiça, para repousar e apreciar o que o natural traz.

      br
      p.texto Oxóssi aprendeu a caçar e abrir os caminhos na mata com Ogum, que era bem próximo do irmão, além disso, fez também as ferramentas para que Oxóssi aprendesse a lutar. Certo dia, um grande pássaro enviado com o objetivo de atrapalhar uma comemoração do reino aparece como forma de perigo em sua aldeia, aterrorizando a todos, e nenhum dos melhores caçadores conseguia atingi-lo. Oxóssi, então, com apenas uma flecha atinge o pássaro e gera uma grande celebração. Ele se torna então Rei de Ketu. 

      br
    div.col-10.divMaior
      p.texto Outra vez, Oxóssi desobedece as leis sagradas e sai para caçar em um dia proibido. No caminho ele ouve um canto vindo de uma serpente, que era na verdade Oxumaré. O Orixá então mata a cobra e, no caminho para casa, ele continua a ouvir esse canto misterioso. Ao chegar em casa, ele cozinha a cobra e a come. Na manhã do dia seguinte, sua esposa, Oxum, o encontra morto. Orunmilá então, a pedido de Oxum, deixa Oxóssi viver e este se torna um Orixá, protetor dos caçadores.
      br
      br
      p.texto 
        b Saudação: Okê arô!
      br
      p.texto 
        b Comidas e Bebidas: axoxô, carne de caça, aluá, caldo de cana.

      br
      p.texto 
        b Cor: verde
      br
      p.texto 
        b Elemento: terra 
      br
      p.texto 
        b Ervas:  alecrim, guiné, jureminha, abre-caminho, vence-demanda.

      br
      p.texto
        b Comemoração: 20 de janeiro

      br
      p.texto
        b Alguns pontos de Oxóssi: 
      br
      p.texto &emsp; Oxóssi - Mariene de Castro
        a.link(href="https://www.youtube.com/watch?v=-CO3yKFeObM",  target="blank") https://www.youtube.com/watch?v=-CO3yKFeObM
      p.texto &emsp; Oxóssi - O rei das matas:  
        a.link(href="https://www.youtube.com/watch?v=AZ7MEt_CoNU",  target="blank") https://www.youtube.com/watch?v=AZ7MEt_CoNU
     
        br
        br
        a.btn.btn-primary.botao(href="/divindades") Voltar
      p.final 