extends ../layout 
 
block links
  link(href='/publico/css/geral.css' rel='stylesheet')
 
 
block principal
  br
  br
  div.row
    img.img.col-4(src='/publico/imgs/oxum.png')
    
    div.col-6.div
      br
      h2 Oxum
      p.texto Oxum é filha de Iemanjá e Oxalá, foi esposa de Oxóssi, com quem tem Logun Edé, Ogum e por fim de Xangô. Ela sempre foi próxima do pai além de muito curiosa e poderosa. Ela é a Orixá das águas doces, dos rios e cachoeiras, representando a feminilidade, a fertilidade e a beleza e é conhecida como a senhora do ouro, da riqueza e do amor, e acolhe as crianças do plano espiritual.   
      br
      p.texto Desde sempre, todas as decisões eram feitas pelos Orixás masculinos, mas Oxum não se conformava com isso, era muito inteligente e interessada, ela exigia um lugar de fala. Ela costumava usar sua astúcia para participar de reuniões que não era permitida e provar que ela e as outras Orixás femininas eram capazes. Certa vez ela deixou as mulheres estéreis, ameaçando o fim da humanidade, os homens consultaram Olorum, que convidou Oxum e as outras mulheres a serem parte das reuniões e terem voz ativa nas decisões feitas. Oxum então devolveu a fertilidade às mulheres e se tornou a grande representação do feminino.
      br
    div.col-10.divMaior
      p.texto Conta-se que Oxum pediu ao seu pai que lhe permitisse enxergar o futuro, e Oxalá lhe contou que somente Ifá (Deus da Adivinhação) teria o dom de ler o futuro. Oxum diretamente procurou por Exú para pedir que este a ensinasse, pois ele conhecia o segredo de Ifá.
      br
      p.texto Quando Exú recusou-se a contar como fazê-lo, Oxum foi para a floresta pedir ajuda para as feiticeiras, e, com o desejo secreto de capturar Exú, as feiticeiras ajudaram ela. Elas lhe ensinaram uma magia e pediram para que fizesse uma oferenda a elas sempre que utilizasse do feitiço.
      br 
      p.texto Após isso, Oxum volta para falar com Exú e sopra o pó mágico nos olhos dele, que fica temporariamente cego. Dessa forma, Exu precisou pedir ajuda de Oxum, que se fingiu preocupada e conseguiu as respostas que precisava. Ao retornar ao reino de Oxalá, Oxum conta ao seu pai o que havia acabado de fazer e Ifá, admirado por sua coragem, presenteou-a com a mão de jogo e disse que ela seria regente do Oráculo junto com Exú.
      br
      p.texto Oxum se apaixonou por Oxóssi, Rei das Matas, e teve um filho chamado Logun-Edé. Em uma saída de Oxóssi, a Orixá se apaixonou pelo irmão do pai de seu filho, Xangô. Ela abandona o filho para ir ao palácio de Xangô, se tornando sua esposa mais nova e que recebe todo seu amor.
      br
      br
      p.texto 
        b Saudação: Ora ye ye ô!
      br
      p.texto 
        b Comidas e Bebidas: champanhe, quindim, banana frita, ipeté.
      br
      p.texto 
        b Cor: azul
      br
      p.texto 
        b Elemento: água 
      br
      p.texto 
        b Ervas: colônia, oriri, santa-luzia, pingo-d'água, agrião. 
      br
      p.texto
        b Comemoração: 8 de dezembro
      br
      p.texto
        b Alguns pontos de Oxum: 
      br
      p.texto &emsp; Vi mamãe Oxum:  
        a.link(href="https://www.youtube.com/watch?v=0coctlbzSh0",  target="blank") https://www.youtube.com/watch?v=0coctlbzSh0
      p.texto &emsp; Oxum:  
        a.link(href="https://www.youtube.com/watch?v=y2suPbBd3DA",  target="blank") https://www.youtube.com/watch?v=y2suPbBd3DA
      p.texto &emsp; Canta Oxum: 
        a.link(href="https://www.youtube.com/watch?v=85T_S-10uO8",  target="blank") https://www.youtube.com/watch?v=85T_S-10uO8
        br
        br
        a.btn.btn-primary.botao(href="/divindades") Voltar
      p.final 