extends ../layout 
 
block links
  link(href='/publico/css/geral.css' rel='stylesheet')
 
 
block principal
  br
  br
  div.row
    img.img.col-4(src='/publico/imgs/poseidon.png')
    
    div.col-6.div
      br
      h2 Poseidon 
      p.texto  Senhor da água, Poseidon enfrentou uma profecia em seu nascimento, pois seu pai, Cronos, o senhor do Tempo, estava destinado a ser derrotado por seus filhos. Sabendo disso, Cronos tomou a decisão de engolir todos os filhos que nasciam, sendo Poseidon um deles, que, por serem imortais, não morreram, e sim continuaram crescendo no interior de seu pai.

      br
      p.texto Horrorizada com os atos de Cronos, Réia, sua esposa, conseguiu enganá-lo e salvar um de seus filhos, Zeus, que cresceu na ilha de Creta, e então retornou para salvar seus irmãos. Zeus enganou o pai, e então cortou sua barriga, fazendo todos os seus irmãos saírem crescidos e o auxiliarem na batalha.
      br
    div.col-10.divMaior
      p.texto Após a derrota de Cronos, três de seus filhos decidiram qual parte do mundo iriam comandar: Zeus ficou responsável pelo céu, Hades pelo submundo e Poseidon se tornou o rei dos mares. Os três ficaram conhecidos como Três Grandes, sendo responsáveis pelos três cantos, pois eram também os mais poderosos. 
      br
      p.texto Conta-se que Poseidon era capaz de atirar montanhas em seus inimigos e fazer ilhas inteiras submergir. O deus também tinha controle total de todas as criaturas aquáticas e a habilidade de criar tempestades, terremotos, inundações, se teletransportar e mudar de formas. Devido a tais poderes e por ser descrito como uma entidade violenta, vingativa, irritadiça e emocionalmente instável, Poseidon era uma divindade extremamente temida, pois ninguém gostaria de arriscar causar um de seus descontroles quanto a raiva, temendo por suas vidas. Os navegantes rezavam para Poseidon na busca de uma boa viagem e mares tranquilos. Em muitas situações, cavalos eram sacrificados e jogados ao mar, oferecidos para Poseidon. Caso fosse ignorado ou contrariado, Poseidon utilizava seu tridente para o caos, terremotos e o derrubar de barcos.
      br
      a.btn.btn-primary.botao.final(href="/divindades") Voltar
      p.final
      
 
   
