extends ../layout 
 
block links
  link(href='/publico/css/geral.css' rel='stylesheet')
 
 
block principal
  br
  br
  div.row
    img.img.col-4(src='/publico/imgs/tupa.png')
    div.col-6.div
      br
      h2 Tupã
      br
      p.texto Criado por Nhanderuvuçú, Tupã era um grande guerreiro, sendo a encarnação própria do trovão, tendo sua voz ecoada em meio a eles. Embora o deus tivesse um temperamento por vezes agressivo, ele era considerado justo entre os povos. Ele desceu à Terra em um monte, na região do Areguá no Paraguai, e, deste local, criou tudo sobre a face da Terra, incluindo o oceano, florestas e animais. 

      br
      p.texto Criou a humanidade em uma cerimônia, formando duas estátuas de argila: um homem e uma mulher, a partir da mistura de diversos elementos encontrados na natureza. Os primeiros humanos criados por Tupã foram chamados de Rupave (nome que significa “pai dos povos”) e Sypave, a “mãe dos povos”. Os primeiros humanos tiveram diversas filhas, porém apenas três filhos: Tumé Arandú, o sábio, Marangatu, o líder generoso e Japeusá, o mentiroso. O último era conhecido por ser um ladrão e trapaceiro, que acreditam que teria cometido suícidio, porém foi ressuscitado como um caranguejo, e desde esse dia todos os caranguejos foram amaldiçoados para andar para trás como Japeusá.
      br
    div.col-10.divMaior
      p.texto Tupã foi o responsável por transmitir aos pajés o conhecimento sobre o uso medicinal das plantas e dos rituais de cura, além de ser quem ensinou aos homens como cultivar a terra, caçar e fazer artesanato.
      br
      a.btn.btn-primary.botao.final(href="/divindades") Voltar
      p.final

      
 
   
