extends ../layout 
 
block links
  link(href='/publico/css/geral.css' rel='stylesheet')
 
 
block principal
  br
  br
  div.row
    img.img.col-4(src='/publico/imgs/zeus.png')
    div.col-6.div
      br
      h2 Zeus
      br
      p.texto Zeus é o filho mais jovem do titã Cronos, o Senhor do Tempo, juntamente com Réia. Conta-se que havia uma profecia na qual um filho de Cronos se voltaria contra ele e, por ser mais poderoso, voltaria-se contra o pai, o matando e tomando seu trono. Com medo, Cronos passou a engolir cada um de seus filhos logo após o parto, o que indignou sua esposa, Réia. Já tinham sido engolidas cinco crianças quando a mulher resolveu intervir, entregando a sexta, que era ninguém menos que Zeus, para as ninfas da floresta, que o criaram até que pudesse retornar para enfrentar seu destino. No lugar de Zeus, sua mãe entregou uma pedra para Cronos alimentar-se e esse não notou a diferença.
      br
      p.texto Zeus, disfarçado de serviçal, enganou seu pai, Cronos, para que o mesmo tomasse uma bebida mágica alegando que era um néctar extraordinário que o Titã nunca havia provado igual para que ele vomitasse as seis crianças engolidas anteriormente: Hera, Hades, Poseidon, Héstia e Deméter. Os deuses haviam continuado crescendo, ainda dentro de seu pai, então estavam de volta já adultos, o que emocionou Réia que os recebeu um a um com um abraço materno. 

      br
    div.col-10.divMaior
      p.texto Após isso, o deus dos raios exigiu que Cronos lhe cedesse o trono, o que lhe foi negado, dando início então a uma guerra entre os Titãs e os deuses, batizada de Titanomaquia, que durou dez anos e findou com a vitória dos deuses e a destruição do Senhor do Tempo, além do aprisionamento de todos os outros titãs. Após isso, os deuses ascenderam, assim Hades, Poseidon e Zeus tornaram-se conhecidos por Os Três Grandes, onde eles separaram os principais reinos entre si, ficando Zeus com os céus, Poseidon com os mares e Hades com o Submundo, assim iniciando uma nova era no mundo.

      br
      p.texto Representado principalmente como um homem forte, com uma barba longa, com um raio em sua mão direita e uma águia ao seu lado, de modo sempre majestoso. Seu nome significava “Rei divino” em grego antigo. Apesar de ser casado com Hera, sua irmã e deusa do casamento, o deus era conhecido por ter diversas amantes, incluindo algumas mortais, a quem seduzia muitas vezes através da metamorfose, com suas formas mais conhecidas sendo o Cisne de Leda e o Touro da Europa. Zeus é também conhecido por seus diversos filhos semideuses ilegítimos, o que enfurecia sua esposa, que por vezes castigava os semideuses, como é visto na história de Hércules, onde ela enviou serpentes para estrangulá-lo ainda recém nascido.

      br
      a.btn.btn-primary.botao.final(href="/divindades") Voltar
      p.final

      
 
   
